<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete the user </title>
</head>
<body>
    <h2>You are about to Delete the user : <%= user.email %><br><br>,Enter the password</h2>
   <form method="post" action="/user/<%= user.id %>?_method=DELETE">
        <input type="password" name="password" placeholder="enter your password">
        <button>Delete the User</button>
     </form>
</body>
</html>